<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355423691978-troea3anss1lm2r7otd857srcjf8slc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355423691978-troea3anss1lm2r7otd857srcjf8slc1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>355423691978-0cftgdnual1rq6muo3mkeg9lb6p4i75p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDRVc1pFmvkAWl5s-n_sRKrvcC5ocidHBw</string>
	<key>GCM_SENDER_ID</key>
	<string>355423691978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.img.royalcorp.dev</string>
	<key>PROJECT_ID</key>
	<string>img-royalcorp-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>img-royalcorp-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355423691978:ios:5d91eb1d346b77e31c0033</string>
</dict>
</plist>