<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122681934982-rul6nn8bjdmbi5l6n0snq80coptt2ddp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122681934982-rul6nn8bjdmbi5l6n0snq80coptt2ddp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>122681934982-r3vvnv5glnb36bnha85l8bs66v5ev5o1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtLNKjh69uJ5gAjG7uNwMNZnPn53RB1bY</string>
	<key>GCM_SENDER_ID</key>
	<string>122681934982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.img.royalcorp</string>
	<key>PROJECT_ID</key>
	<string>img-royalcorp</string>
	<key>STORAGE_BUCKET</key>
	<string>img-royalcorp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122681934982:ios:e1a2c5647ea19db9267d07</string>
</dict>
</plist>